body {
  background-image: url(../img/field.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  width: 100%;
  margin-top: 25px;
}

h1{
  font-size: 32px;
  font-weight: 600;
  font-family: cursive;
  text-align: center;
}

p {
  font-weight: bold;
  font-size: 20px;
  font-style: oblique;
}

.intro {
  font-size: 22px;
  font-weight:600;
  text-align: center;
  font-weight:600;
}
